.vscode
.sfdx
.gradle
diff.log
undeploy/destructiveChanges.xml
salesforce/deploy/mdapi_output_dir/**
tmpFile
tmpFileAllResult
.scratch-logs
test-results
.pmd

__pycache__
deploy/deploy.ini
.tmp*
atest/bin/
scripts/webdriver-scripts/bin/
atest/.settings/org.eclipse.buildship.core.prefs
atest/.classpath
scripts/webdriver-scripts/.settings/org.eclipse.buildship.core.prefs
atest/.project
scripts/webdriver-scripts/.classpath
scripts/webdriver-scripts/.project
scripts/webdriver-scripts/build/**
node_modules
package-lock.json
jsconfig.json
src/main/default/lwc/.eslintrc.json
.DS_Store
.sf
.sfdx
bin/